<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.mapper.AdminssionInfomationMapper">


    <select id="selectCountLimitTime" resultType="java.util.Map">
        SELECT COUNT(DISTINCT e.etId) AS count, DATE_FORMAT(now(), '%H:%i:%S') AS date
        FROM enters AS e
                 INNER JOIN device AS d ON d.dId = e.edId
        WHERE (e.eDate >= #{date} - INTERVAL 60  SECOND)
          AND d.daId = #{vaId}
          AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
    </select>
    <select id="selectTypeCount" resultType="java.util.Map">
        SELECT
        (
        SELECT COUNT(DISTINCT e.tId)
        FROM  enter AS e
        WHERE dWorker = 0 and e.aId =#{vaId}
        AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
        ) AS ticketing,
        (
        SELECT COUNT(eId)
        FROM enter AS e
        WHERE  dWorker = 1 and e.aId =#{vaId}
        AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
        ) AS staff,
        (
        SELECT COUNT(e.eId) from
        (SELECT  eid,tIdentitycard FROM enter AS e
        WHERE e.aId =#{vaId}
        AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
        group by e.eId) as e
        WHERE (ISNULL (e.tIdentitycard) OR LENGTH(e.tIdentitycard) &lt; 1 )
        ) AS Norealname,
        (
        SELECT COUNT(e.eId) from
        (SELECT  eid,tIdentitycard FROM enter AS e
        WHERE e.aId =#{vaId}
        AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
        group by e.eId) as e
        WHERE NOT(ISNULL (e.tIdentitycard) OR LENGTH(e.tIdentitycard) &lt; 1 )
        ) AS realname

    </select>

    <select id="getCountLimitTimeenter" resultType="java.util.Map">

        SELECT count(ids) as value,
               DATE_FORMAT(
                       concat( date( c.Dates ), ' ', HOUR ( c.Dates ), ':', floor( MINUTE (c.Dates ) / 10 ) * 10 ),
                       '%Y-%m-%d %H:%i:%s'
                   ) AS time
        FROM
            (
        SELECT
        date_format(e.eDate,'%Y-%m-%d %H:%i:%s') as Dates, e.eName as Names,e.eId as ids
        FROM  enter as e
        WHERE e.aId =#{vaId}
           AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
            ) as c
        GROUP BY DATE_FORMAT(time, '%Y-%m-%d %H:%i:%s' )
        ORDER BY time;
        <!--
         SELECT count(DISTINCT c.ids) as value,
         DATE_FORMAT(
         concat( date( c.Dates ), ' ', HOUR ( c.Dates ), ':', floor( MINUTE (c.Dates ) / 10 ) * 10 ),
         '%Y-%m-%d %H:%i:%s'
         ) AS time
         FROM
         (
         SELECT
         date_format(e.eDate,'%Y-%m-%d %H:%i:%s') as Dates,e.edId as ids
         FROM
         enters AS e  WHERE e.etId = #{vaId} AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
         ) as c
         GROUP BY DATE_FORMAT(time, '%Y-%m-%d %H:%i:%s' )
         ORDER BY time;-->
    </select>

    <select id="getCountLimitTimeout" resultType="java.util.Map">

         SELECT count(DISTINCT ids) as value,
               DATE_FORMAT(
                       concat( date( c.Dates ), ' ', HOUR ( c.Dates ), ':', floor( MINUTE (c.Dates ) / 10 ) * 10 ),
                       '%Y-%m-%d %H:%i:%s'
                   ) AS time
        FROM
            (
                SELECT
                    date_format(t.teDate,'%Y-%m-%d %H:%i:%s') as Dates,t.teId as ids
                FROM tloe  AS t
                WHERE t.teaId = #{vaId}
                   AND TO_DAYS(t.teDate)=TO_DAYS(NOW())
            ) as c
        GROUP BY DATE_FORMAT(time, '%Y-%m-%d %H:%i:%s' )
        ORDER BY time;


    </select>

    <select id="getoutlist" resultType="java.lang.String">

        SELECT COALESCE(o.value,0) FROM ( SELECT count(ids) as value,
                               DATE_FORMAT(
                                       concat( date( c.Dates ), ' ', HOUR ( c.Dates ), ':', floor( MINUTE (c.Dates ) / 10 ) * 10 ),
                                       '%Y-%m-%d %H:%i:%s'
                                   ) AS time
                        FROM
                            (
                                SELECT
                                    date_format(e.eDate,'%Y-%m-%d %H:%i:%s') as Dates, e.eName as Names,e.eId as ids
                                FROM  enter as e
                                WHERE e.aId =#{vaId}
                                  AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
                            ) as c
                        GROUP BY DATE_FORMAT(time, '%Y-%m-%d %H:%i:%s' ),ids
                        ORDER BY time) as e  LEFT OUTER JOIN  ( SELECT count(DISTINCT ids) as value,
                                                                       DATE_FORMAT(
                                                                               concat( date( c.Dates ), ' ', HOUR ( c.Dates ), ':', floor( MINUTE (c.Dates ) / 10 ) * 10 ),
                                                                               '%Y-%m-%d %H:%i:%s'
                                                                           ) AS time
                                                                FROM
                                                                    (
                                                                        SELECT
                                                                            date_format(t.teDate,'%Y-%m-%d %H:%i:%s') as Dates,t.teId as ids
                                                                        FROM tloe  AS t
                                                                        WHERE t.teaId = #{vaId}
                                                                          AND TO_DAYS(t.teDate)=TO_DAYS(NOW())
                                                                    ) as c
                                                                GROUP BY DATE_FORMAT(time, '%Y-%m-%d %H:%i:%s' ),ids
                                                                ORDER BY time) as o on e.time=o.time


    </select>

    <select id="getenterlist" resultType="java.lang.String">

        SELECT COALESCE(e.value,0) FROM ( SELECT count(ids) as value,
                                                 DATE_FORMAT(
                                                         concat( date( c.Dates ), ' ', HOUR ( c.Dates ), ':', floor( MINUTE (c.Dates ) / 10 ) * 10 ),
                                                         '%Y-%m-%d %H:%i:%s'
                                                     ) AS time
                                          FROM
                                              (
                                                  SELECT
                                                      date_format(e.eDate,'%Y-%m-%d %H:%i:%s') as Dates, e.eName as Names,e.eId as ids
                                                  FROM  enter as e
                                                  WHERE e.aId =#{vaId}
                                                    AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
                                              ) as c
                                          GROUP BY DATE_FORMAT(time, '%Y-%m-%d %H:%i:%s' ),ids
                                          ORDER BY time) as e  LEFT OUTER JOIN  ( SELECT count(DISTINCT ids) as value,
                                                                                         DATE_FORMAT(
                                                                                                 concat( date( c.Dates ), ' ', HOUR ( c.Dates ), ':', floor( MINUTE (c.Dates ) / 10 ) * 10 ),
                                                                                                 '%Y-%m-%d %H:%i:%s'
                                                                                             ) AS time
                                                                                  FROM
                                                                                      (
                                                                                          SELECT
                                                                                              date_format(t.teDate,'%Y-%m-%d %H:%i:%s') as Dates,t.teId as ids
                                                                                          FROM tloe  AS t
                                                                                          WHERE t.teaId = #{vaId}
                                                                                            AND TO_DAYS(t.teDate)=TO_DAYS(NOW())
                                                                                      ) as c
                                                                                  GROUP BY DATE_FORMAT(time, '%Y-%m-%d %H:%i:%s' ),ids
                                                                                  ORDER BY time) as o on e.time=o.time


    </select>

    <select id="getTIMElist" resultType="java.lang.String">

        SELECT e.time  FROM ( SELECT count(ids) as value,
                                                 DATE_FORMAT(
                                                         concat( date( c.Dates ), ' ', HOUR ( c.Dates ), ':', floor( MINUTE (c.Dates ) / 10 ) * 10 ),
                                                         '%Y-%m-%d %H:%i:%s'
                                                     ) AS time
                                          FROM
                                              (
                                                  SELECT
                                                      date_format(e.eDate,'%Y-%m-%d %H:%i:%s') as Dates, e.eName as Names,e.eId as ids
                                                  FROM  enter as e
                                                  WHERE e.aId =#{vaId}
                                                    AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
                                              ) as c
                                          GROUP BY DATE_FORMAT(time, '%Y-%m-%d %H:%i:%s' ),ids
                                          ORDER BY time) as e  LEFT OUTER JOIN  ( SELECT count(DISTINCT ids) as value,
                                                                                         DATE_FORMAT(
                                                                                                 concat( date( c.Dates ), ' ', HOUR ( c.Dates ), ':', floor( MINUTE (c.Dates ) / 10 ) * 10 ),
                                                                                                 '%Y-%m-%d %H:%i:%s'
                                                                                             ) AS time
                                                                                  FROM
                                                                                      (
                                                                                          SELECT
                                                                                              date_format(t.teDate,'%Y-%m-%d %H:%i:%s') as Dates,t.teId as ids
                                                                                          FROM tloe  AS t
                                                                                          WHERE t.teaId = #{vaId}
                                                                                            AND TO_DAYS(t.teDate)=TO_DAYS(NOW())
                                                                                      ) as c
                                                                                  GROUP BY DATE_FORMAT(time, '%Y-%m-%d %H:%i:%s' ),ids
                                                                                  ORDER BY time) as o on e.time=o.time


    </select>

    <select id="getSeatList" resultType="java.util.Map">
        SELECT t.tSeatingarea AS 'name',count(t.tSeatingarea) as value
        FROM enter AS e LEFT OUTER JOIN  ticketing AS t ON e.tId=t.tId WHERE e.aId = #{vaId}
        and   TO_DAYS(e.eDate)=TO_DAYS(NOW())
        GROUP BY t.tSeatingarea
        <!--
                SELECT
                    e.Activityname AS 'type', COUNT(DISTINCT e.edId) AS 'value'
                FROM enters AS e
                WHERE
                e.etId=#{vaId}
                AND
                TO_DAYS(e.eDate)=TO_DAYS(NOW())
                GROUP BY e.Activityname-->
    </select>
    <select id="getGrandList" resultType="java.util.Map">
        SELECT t.tGrandstand AS name,count(t.tGrandstand) as value,valuele
        FROM ticketing AS t LEFT JOIN (
            SELECT t.tGrandstand AS namele ,count(t.tGrandstand) as valuele
            FROM enter AS e LEFT OUTER JOIN  ticketing AS t ON e.tId=t.tId WHERE e.aId = #{vaId}
            and   TO_DAYS(e.eDate)=TO_DAYS(NOW())
            GROUP BY t.tGrandstand
            )AS f ON f.namele=t.tGrandstand

        WHERE t.taId = #{vaId}
        GROUP BY t.tGrandstand,valuele
    </select>
    <select id="getGrandsList" resultType="java.util.Map">
        SELECT t.tGrandstand AS 'name',count(t.tGrandstand) as value
        FROM ticketing AS t  WHERE t.taId = #{vaId}
        GROUP BY t.tGrandstand
    </select>

</mapper>
