<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.mapper.DeviceMapper">


    <!--parameterType 传入参数的类型，resultType返回参数的类型-->
    <select id="selectByKeys" resultType="java.util.Map">
        SELECT dId,a.aId ,a.aName,eName,dIp,dCreationtime
        FROM devices AS d
        LEFT JOIN activity as a  on d.aId=a.aId
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="eName != null and eName.length != 0">
                AND d.eName LIKE "%"#{eName}"%"
            </if>
            <if test="dIp != null and dIp.length != 0">
                AND d.dIp LIKE "%"#{dIp}"%"
            </if>
        </trim>
        LIMIT ${(current-1)*size},${size}
    </select>

    <select id="selectCountByKeys" resultType="java.lang.Integer">
        SELECT COUNT(dId)
        FROM devices AS d
        LEFT JOIN activity as a  on d.aId=a.aId
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="eName != null and eName.length != 0">
                AND d.eName LIKE "%"#{eName}"%"
            </if>
            <if test="dIp != null and dIp.length != 0">
                AND d.dIp LIKE "%"#{dIp}"%"
            </if>
        </trim>
<!--        <include refid="searchSQL"></include>-->
    </select>

    <insert id="insert">
        <selectKey keyProperty="dId" resultType="string" order="BEFORE">
            SELECT uuId()
        </selectKey>
        INSERT INTO devices (dId,aId, eName, dIp, dCreationtime)
        VALUES (#{dId},#{aId},#{eName}, #{dIp},now())
    </insert>


    <delete id="deleteDes">
        delete from devices where did=#{did}
    </delete>

    <update id="update">
        UPDATE devices SET eName = #{eName},dIp = #{dIp},dCreationtime=now()  WHERE dId=#{dId} LIMIT 1
    </update>

    <select id="getSingle" resultType="java.util.Map">
        SELECT tIdentitycard
        FROM enter
        WHERE aId=#{aId}
        AND TO_DAYS(eDate)=TO_DAYS(NOW())
    </select>

    <sql id="searchSQL">
        FROM devices AS d
        LEFT JOIN activity as a  on d.aId=a.aId
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="eName != null and eName.length != 0">
                AND d.eName LIKE "%"#{eName}"%"
            </if>
            <if test="dIp != null and dIp.length != 0">
                AND d.dIp LIKE "%"#{dIp}"%"
            </if>
        </trim>
    </sql>

</mapper>
