<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.mapper.EntryrecordMapper">

    <select id="getByEntryrecorddownload" resultType="java.util.Map">
        SELECT eId,aId,eName,tId,BIND_CARD,QR_CODE,ENTRY_TIME,stamp from enter
        WHERE aId=#{aId}
        AND not locate(#{ips},stamp)>0
        LIMIT 500
    </select>

    <select id="getByemployee" resultType="java.util.Map">
        SELECT eId,aId,tId,eName,ENTERID,IDCODE, FACEPHOTO,stamp from enter_employee
        WHERE aId=#{aId}
          AND not locate(#{ips},stamp)>0
            LIMIT 100
    </select>

    <select id="getbindingEtickinginstead" resultType="java.util.Map">
        SELECT  tId ,aId,BIND_CARD,QR_CODE,BIND_NAME,BIND_PHONE from ticketing
        WHERE aId=#{aId}
          AND  not locate(#{ips},stamp)>0
        order by ENTRY_TIME
        desc limit 27
    </select>


    <select id="getByticketingDownloads" resultType="java.util.Map">
        SELECT tId ,aId,QR_CODE,BIND_NAME,BIND_CARD,BIND_PHONE,SRAND_NAME,SRAT_ROW,SRAT_COL,FLOOR_NAME from ticketing
        WHERE aId=#{aId}
    </select>
    <select id="getByfrontinfoDownloads" resultType="java.util.Map">
        SELECT fId ,fCertificate,fComment from frontinfo

    </select>

    <update id="getByEntryrecorddownloadlisteid" >
        UPDATE enter  SET stamp =  CONCAT(stamp,#{ips})
        WHERE aId=#{aId}
        AND eId in
        <foreach item="item" collection="UploadQuantity" separator="," open="(" close=")" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="getemployeeid" >
        UPDATE enter_employee  SET stamp =  CONCAT(stamp,#{ips})
        WHERE aId=#{aId}
        AND eId in
        <foreach item="item" collection="UploadQuantity" separator="," open="(" close=")" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="getBytickinginstead" >
        UPDATE ticketing  SET tNote =  CONCAT(tNote,#{ips})
        WHERE taId=#{aId}
        AND tId in
        <foreach item="item" collection="UploadQuantity" separator="," open="(" close=")" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </update>


    <insert id="installEntryrecord">

        INSERT INTO enter
        (eId,aId,vName,eName,tId,aName,eDate,temp,dWorker,tQrcard,tIdentitycard,autonym)
        VALUES (#{eId}, #{aId}, #{vName}, #{eName}, #{tId},#{aName}, #{eDate}, #{temp}, #{dWorker}, #{tQrcard}, #{tIdentitycard}, #{autonym})
    </insert>

    <select id="getPermissions" resultType="String">
        SELECT pPermissions FROM permissions WHERE aId= #{aId}
    </select>
    <!-- 插入物品信息 -->
    <insert id="addMayo">
        insert into ticketing
        (
        tId,
        aId,
        QR_CODE,
        BIND_CARD,
        ENTRY_TIME,
        stamp
        )
        values
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            #{item.tId},
            #{item.aId},
            #{item.tQrcard},
            #{item.tIdentitycard},
            #{item.time},
            #{item.tNote}
            )
        </foreach>

    </insert>

    <insert id="bindtloerecord">
        insert into tloe
        (
        teId,
        teImage,
        teDate,
        teAisle,
        teaId,
        teCategory,
        teMarking
        )
        values
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            #{item.teId},
            #{item.teImage},
            #{item.teDate},
            #{item.teAisle},
            #{item.teaId},
            #{item.teCategory},
            #{item.teMarking}
            )
        </foreach>

    </insert>
    <insert id="installticketing" parameterType="java.util.List">
        insert into ticketing
        (
        tId,
        taId,
        tQrcard,
        tIdentitycard,
        tSeatingarea,
        tRownumber,
        tSeat,
        tGrandstand,
        tRealname,
        phone
        )
        values
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            #{item.tId},
            #{item.taId},
            #{item.tQrcard},
            #{item.tIdentitycard},
            #{item.tSeatingarea},
            #{item.tRownumber},
            #{item.tSeat},
            #{item.tGrandstand},
            #{item.tRealname},
            #{item.phone}
            )
        </foreach>

    </insert>

</mapper>
