<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.mapper.EntranceManagementMapper">
    <resultMap id="BaseResultMap" type="com.tickets.dto.EntranceManagementAddDto">
        <id column="eId" jdbcType="VARCHAR" property="emId" />
        <result column="eName" jdbcType="VARCHAR" property="emName" />
        <result column="eEnable" jdbcType="INTEGER" property="emEnable" />
        <result column="eNote" jdbcType="VARCHAR" property="emNote" />
        <result column="evId" jdbcType="VARCHAR" property="emVmId" />
        <result column="eCreationtime" jdbcType="TIMESTAMP" property="eCreationtime" />
    </resultMap>
    <sql id="Base_Column_List">
        eId, eName, eEnable, eNote, evId, eCreationtime
    </sql>
    <insert id="insert">
        <selectKey keyProperty="emId" resultType="string" order="BEFORE">
            SELECT uuId()
        </selectKey>
        INSERT INTO entrance (<include refid="Base_Column_List"/>)
        VALUES (#{emId}, #{emName}, #{emEnable}, #{emNote}, #{emVmId}, now())
    </insert>
    <update id="update">
        UPDATE entrance SET eEnable = #{emEnable},eName=#{emName},eNote= #{emNote},evId=#{emVmId},eCreationtime=now() WHERE eId = #{emId} LIMIT 1
    </update>

    <update id="updateEnable">
        UPDATE entrance SET eEnable = #{emEnable} WHERE eId = #{emId} LIMIT 1
    </update>

    <select id="selectEntrancePeopleCount" resultType="java.util.Map">
        SELECT
        e.eName AS 'name', COUNT(DISTINCT(e.eId)) AS 'value'
        FROM enter AS e
        WHERE
        e.aId = #{vaId}
         and   TO_DAYS(e.eDate)=TO_DAYS(NOW())
        GROUP BY e.eName
        <!--
                SELECT
                    e.Activityname AS 'type', COUNT(DISTINCT e.edId) AS 'value'
                FROM enters AS e
                WHERE
                e.etId=#{vaId}
                AND
                TO_DAYS(e.eDate)=TO_DAYS(NOW())
                GROUP BY e.Activityname-->
    </select>

    <select id="getTempCount" resultType="java.util.Map">
        SELECT
            (
                SELECT  COUNT(DISTINCT(e.eId))
             FROM  enter AS e
             WHERE e.aId = #{vaId}
               AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
            ) AS headcount,
            (
                SELECT  COUNT(DISTINCT(e.eId))
                FROM  enter AS e
                WHERE e.aId = #{vaId}
                AND TO_DAYS(e.eDate)=TO_DAYS(NOW())
                AND temp &gt; 37.5
            ) AS temp

    </select>
    <select id="numberOFarea" resultType="java.util.Map">
        SELECT t.tSeatingarea, COUNT( DISTINCT e.tid)as number  FROM
            enter AS e inner JOIN ticketing  AS t ON t.tId=e.tId WHERE e.aId = #{vaId} AND TO_DAYS(e.eDate)=TO_DAYS(NOW()) group by t.tSeatingarea
    </select>



    <select id="selectByKeys" resultType="java.util.Map">
        SELECT
        e.eId, e.eName, IF(e.eEnable = 0, '删除',IF(e.eEnable = 1, '启用','不启用')) eEnable, e.eNote , v.vName,v.vId
        FROM
        entrance AS e
        LEFT JOIN venues AS v ON v.vId = e.evId
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="emName != null and emName.length != 0">
                e.eName LIKE "%"#{emName}"%"
            </if>
            <if test="emEnable != null">
                AND e.eEnable = #{emEnable}
            </if>
            <if test="vmName != null and vmName.length != 0">
                AND v.vName LIKE "%"#{vmName}"%"
            </if>
            <if test="emEnable == null">
                AND e.eEnable !=0
            </if>
        </trim>
        LIMIT ${(current-1)*size},${size}
    </select>

    <select id="selectCountByKeys" resultType="java.lang.Integer">
        SELECT COUNT(e.eId)
        FROM entrance AS e
        LEFT JOIN venues AS v ON v.vId = e.evId
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="emName != null and emName.length != 0">
                e.eName LIKE "%"#{emName}"%"
            </if>
            <if test="emEnable != null">
                AND e.eEnable = #{emEnable}
            </if>
            <if test="vmName != null and vmName.length != 0">
                AND v.vName LIKE "%"#{vmName}"%"
            </if>
        </trim>
    </select>

    <select id="selectEntranceByEnable" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from entrance e , venues v
        where e.evId = v.vId and v.venable = 1 and e.eEnable=1
    </select>

</mapper>
