<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.mapper.FaceMapper">

    <update id="upquantity" >
        UPDATE  ticketing SET tIdentitycard=#{tIdentitycard}, tRealname=#{tRealname}
        WHERE tId=#{tId}
    </update>

    <update id="upquantitys" >
        UPDATE  ticketing SET tIdentitycard=#{tIdentitycard}, tRealname=#{tRealname},tData=#{datei},tNote=1
        WHERE tId=#{tId}
    </update>
    <update id="getUploadQTIAEW" >
        UPDATE enter  SET dWorker = 1
        WHERE aId=#{aid}
        AND eId in
        <foreach item="item" collection="UploadQuantity" separator="," open="(" close=")" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </update>


    <select id="queryFace" resultType="java.util.Map">
        SELECT fImage,fFeature,eId FROM enter as e WHERE fImage  is not null  and fFeature is not null
    </select>

    <select id="Queryquantity" resultType="java.lang.Integer">
        SELECT COUNT(tIdentitycard) from ticketing
        WHERE taId = #{aId}
    </select>

    <select id="getUploadQTIAE" resultType="java.lang.Integer">
        SELECT COUNT(eId)  from enter
        WHERE  eDate between   DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')  and #{dateUp}
        AND aId=#{aid}
    </select>

    <select id="getUploadQuantity" resultType="java.lang.String">
        SELECT tr.UploadQuantity FROM tradeshow AS tr WHERE tr.taid=#{aId}

    </select>

    <select id="queryTicketing" resultType="java.util.Map">
        SELECT
            e.fImage,
            t.tSeatingarea,
            t.tRownumber,
            t.tSeat,
            t.tGrandstand,
            e.eDate,
            e.aName,
            e.vName,
            e.temp,
            e.tQrcard,
            e.tIdentitycard
        FROM enter AS e
        left join ticketing AS t
        ON e.tId =t.tId
        WHERE
            e.eId = #{eId}

    </select>
    <select id="selectImageByActivityId" resultType="java.lang.String">
        SELECT
            CONCAT('data:image/jpg;base64,', e.fImage)  AS image
        FROM enter AS e
        WHERE
            e.aId=#{aId}
          AND
            TO_DAYS(e.eDate)=TO_DAYS(NOW())
        ORDER BY
            e.eDate DESC
        LIMIT 5
    </select>

    <select id="selectImageByActivityIds" resultType="java.util.Map">
        SELECT
            e.tIdentitycard,e.autonym,
            CONVERT( e.fImage USING utf8 )  AS image

        FROM enter AS e
        WHERE
            e.aId=#{aId}
          AND
             TO_DAYS(e.eDate)=TO_DAYS(NOW())
        ORDER BY
            e.eDate DESC
        LIMIT 5
    </select>
   <!-- TO_DAYS(eDate)=TO_DAYS(NOW())-->
<!--    eDate between #{sqlDateformerly} and #{sqlDate}-->
    <select id="getImageByActivityId" resultType="java.util.Map">
        SELECT eId,aName,eName,tIdentitycard,tQrcard,eDate,CONVERT( fImage USING utf8 )  fImage from enter
        WHERE  eDate between #{sqlDateformerly} and #{sqlDate}
        AND aId=#{aId}
    </select>


    <select id="getImageByActivityIdUP" resultType="java.util.Map">
        SELECT eId,aName,eName,tIdentitycard,tQrcard,DATE_FORMAT(eDate, '%Y-%m-%d %H:%i:%s') AS eDate,CONVERT( fImage USING utf8 )  fImage  from enter
        WHERE  eDate between  DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') and #{dateUp}
        AND aId=#{aid}
        AND dWorker = 0
    </select>

    <select id="getEntryrecord" resultType="java.util.Map">
        SELECT eId,aId,aName,vName,eName,tQrcard,tIdentitycard,CONVERT( fImage USING utf8 )  fImage, DATE_FORMAT(eDate, '%Y-%m-%d %H:%i:%s') AS eDate,tId ,dWorker,temp,autonym  from enter
        WHERE aId=#{aid}
        AND dWorker = 0
        ORDER BY eDate DESC
        LIMIT 150
    </select>

    <select id="getEntryrecords" resultType="java.util.Map">
        SELECT eId,aId,aName,vName,eName,tQrcard,tIdentitycard, DATE_FORMAT(eDate, '%Y-%m-%d %H:%i:%s') AS eDate,tId ,dWorker,temp,autonym  from enter
        WHERE aId=#{aid}
          AND dWorker = 0
        ORDER BY eDate DESC
            LIMIT 150
    </select>


    <select id="getemploys" resultType="java.util.Map">
        SELECT eId,aId,aName,vName,eName,tQrcard,DATE_FORMAT(eDate, '%Y-%m-%d %H:%i:%s') AS eDate,tId from enter_employee
        WHERE eDate between  DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') and #{dateUp}
        AND aId=#{aid}
        AND tId != 1
        ORDER BY eDate DESC
        LIMIT 150
    </select>

<!--    &#45;&#45;         WHERE  eDate between  DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') and #{dateUp}-->
    <select id="getImageByActivityIdcount" resultType="java.util.Map">
        SELECT COUNT(eId) from enter
        WHERE eDate between #{sqlDateformerly} and #{sqlDate}
        AND aId=#{aId}
    </select>

    <select id="selectImageByActivityIdsAbnormal" resultType="java.util.Map">
        SELECT
            e.tIdentitycard,e.autonym,
            CONVERT( e.fImage USING utf8 )  AS image

        FROM enter AS e
        WHERE
            e.aId=#{aId}
          AND
            TO_DAYS(e.eDate)=TO_DAYS(NOW())
        ORDER BY
            e.eDate DESC

    </select>
    <select id="getdomparison" resultType="java.util.Map">
        SELECT t.tId as tid,t.tIdentitycard as tIdentitycard,
               w.tId as wtid,w.tRealname as wtRealname,w.tIdentitycard as wtIdentitycard ,t.tQrcard
        FROM     ticketing AS t LEFT JOIN ticketing_wechat AS w   ON t.tQrcard= w.tQrcard
        where  t.taId=#{aId}
          AND t.tIdentitycard=''

    </select>
    <select id="selectKeyByActivityId" resultType="java.lang.String">
        SELECT
            e.eId
        FROM enter AS e
        WHERE
            e.aId=#{aId}
            <if test="date != null and date != ''">
                AND DATE(e.eDate)=#{date}
            </if>

        ORDER BY
            e.eDate DESC
            LIMIT 5
    </select>

    <select id="selectImageByKeys" resultType="java.util.Map">
        SELECT
            e.tIdentitycard,e.autonym,
            CONVERT( e.fImage USING utf8 )  AS image
        FROM enter AS e
        WHERE
            e.eId in
        <foreach item="item" collection="ids" separator="," open="(" close=")" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>


