<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.mapper.TicketingStaffMapper">

    <insert id="insert">
        <selectKey keyProperty="tsId" resultType="string" order="BEFORE">
            SELECT uuId()
        </selectKey>
        INSERT INTO ticketing
        (tId, taId, tIdentitycard, tIccard, tQrcard, tSeatingarea,
        tRownumber, tSeat, tGrandstand, tRealname, tNote, tWId,phone)
        VALUES (#{tsId}, #{tsVaId}, #{tsIdentiycard}, #{tsIccard}, #{tsQrcard},
        #{tsSeatingArea}, #{tsRownumber}, #{tsSeat}, #{tsGrandstand}, #{tsRealName}, #{tsNote}, #{tWId}, #{phone})
    </insert>
    <insert id="install">
        <selectKey keyProperty="tsId" resultType="string" order="BEFORE">
            SELECT uuId()
        </selectKey>
        INSERT INTO ticketing
        (tId, taId, tIdentitycard, tIccard, tQrcard, tSeatingarea,
        tRownumber, tSeat, tGrandstand, tRealname, tNote,phone)
        VALUES (#{tsId}, #{tsVaId}, #{tsIdentiycard}, #{tsIccard}, #{tsQrcard},
        #{tsSeatingArea}, #{tsRownumber}, #{tsSeat}, #{tsGrandstand}, #{tsRealName}, #{tsNote}, #{phone})
    </insert>

    <insert id="installEntryrecord">

        INSERT INTO enter
        (eId,aId,vName,eName,tId,aName,eDate,temp,dWorker,tQrcard,tIdentitycard,autonym)
        VALUES (#{eId}, #{aId}, #{vName}, #{eName}, #{tId},
        #{aName}, #{eDate}, #{temp}, #{dWorker}, #{tQrcard}, #{tIdentitycard}, #{autonym})
    </insert>

    <!--parameterType 传入参数的类型，resultType返回参数的类型-->
    <select id="selectByKeys" resultType="java.util.Map">
        SELECT t.tId, a.aId,a.aName, t.tIdentitycard, t.tIccard, t.tQrcard, t.tSeatingarea,t.tRownumber, t.tSeat,
        t.tGrandstand, t.tRealname, t.tNote,t.phone
        /*--引用其他sql片段*/
        <include refid="searchSQL"/>
        LIMIT ${(current-1)*size},${size}
    </select>


    <select id="getByapplet" resultType="java.util.Map">
        select tId,tIdentitycard from ticketing
        WHERE taId = #{aId,jdbcType=VARCHAR}
        order by tData
        desc limit  #{valid,jdbcType=BIGINT}
    </select>

    <select id="getByBuys" resultType="java.util.Map">
        SELECT t.tId, a.aId,a.aName, t.tIdentitycard, t.tIccard, t.tQrcard, t.tSeatingarea,t.tRownumber, t.tSeat,
        t.tGrandstand, t.tRealname, t.tNote,t.phone
        /*--引用其他sql片段*/
        FROM ticketing AS t
        LEFT JOIN activity AS a ON t.taId = a.aId
        WHERE t.taId=#{value}
        <if test="telephone != null and telephone.length != 0">
            AND t.phone= #{telephone}
        </if>
        <if test="tQrcard != null and tQrcard.length != 0">
            AND  t.tQrcard =#{tQrcard}
        </if>
    </select>

    <select id="selectCountByKeys" resultType="java.lang.Integer">
        SELECT COUNT(t.tId)
        <include refid="searchSQL"/>
    </select>
    <select id="selectDataByVaId" resultType="java.lang.Integer">

    </select>

    <select id="selectCountByscanCode" resultType="java.util.Map">
        SELECT t.tId FROM ticketing AS t where t.tQrcard =#{scanCode} and t.taId=#{aId}
    </select>

    <select id="selectById" resultType="java.util.Map">
        SELECT t.tId, t.tIdentitycard, t.tRealname, t.phone, t.tQrcard, a.aName, a.aNote
        FROM ticketing t
        LEFT JOIN activity a On a.aId = t.taId
        WHERE tWId= #{id}
    </select>

    <update id="update">
        UPDATE ticketing SET taId = #{tsVaId},tIdentitycard=#{tsIdentiycard},tIccard=#{tsIccard},
         tQrcard=#{tsQrcard}, tSeatingarea=#{tsSeatingArea},tRownumber=#{tsRownumber}, tSeat=#{tsSeat},
          tGrandstand=#{tsGrandstand} ,tRealname= #{tsRealName}, tNote=#{tsNote},phone=#{phone}
          WHERE tId = #{tsId} LIMIT 1
    </update>

    <update id="updates">
        UPDATE ticketing SET tIdentitycard=#{cardId},tRealname= #{Rname},tData=#{datei}
        WHERE tId = #{tid} LIMIT 1
    </update>


    <delete id="deleteTs">
       DELETE ticketing,face FROM ticketing LEFT JOIN face ON ticketing.tId=face.ftId WHERE ticketing.tId = #{tid}
    </delete>

    <sql id="searchSQL">
        FROM ticketing AS t
        LEFT JOIN activity AS a ON t.taId = a.aId
        /*LEFT JOIN venues AS v ON t.tvId = v.vId
        LEFT JOIN entrance AS e ON t.teId = e.eId*/
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="tsVaName != null and tsVaName.length != 0">
                AND a.aName LIKE "%"#{tsVaName}"%"
            </if>
            <!--<if test="tsVmName != null and tsVmName.length != 0">
                AND v.vName LIKE "%"#{tsVmName}"%"
            </if>
            <if test="tsEmName != null and tsEmName.length != 0">
                AND e.eName LIKE "%"#{tsEmName}"%"
            </if>-->
            <if test="tsIdentiycard != null and tsIdentiycard.length != 0">
                AND t.tIdentitycard LIKE "%"#{tsIdentiycard}"%"
            </if>
            <if test="tsQrcard != null and tsQrcard.length != 0">
                AND t.tQrcard LIKE "%"#{tsQrcard}"%"
            </if>
            <if test="tsIccard != null and tsIccard.length != 0">
                AND t.tIccard LIKE "%"#{tsIccard}"%"
            </if>
            <if test="tsSeatingArea != null and tsSeatingArea.length != 0">
                AND t.tSeatingarea LIKE "%"#{tsSeatingArea}"%"
            </if>
            <if test="tsRownumber != null and tsRownumber.length != 0">
                AND t.tRownumber LIKE "%"#{tsRownumber}"%"
            </if>
            <if test="tsSeat != null and tsSeat.length != 0">
                AND t.tSeat LIKE "%"#{tsSeat}"%"
            </if>
            <if test="tsRealName != null and tsRealName.length != 0">
                AND t.tRealname LIKE "%"#{tsRealName}"%"
            </if>
        </trim>
    </sql>
</mapper>
