<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.mapper.TicketingStaffMapper">

    <insert id="insert">
        <selectKey keyProperty="tsId" resultType="string" order="BEFORE">
            SELECT uuId()
        </selectKey>
        INSERT INTO ticketing
        (tId, taId, tIdentitycard, tIccard, tQrcard, tSeatingarea,
        tRownumber, tSeat, tGrandstand, tRealname, tNote, tWId,phone)
        VALUES (#{tsId}, #{tsVaId}, #{tsIdentiycard}, #{tsIccard}, #{tsQrcard},
        #{tsSeatingArea}, #{tsRownumber}, #{tsSeat}, #{tsGrandstand}, #{tsRealName}, #{tsNote}, #{tWId}, #{phone})
    </insert>
    <insert id="install">
        <selectKey keyProperty="tsId" resultType="string" order="BEFORE">
            SELECT uuId()
        </selectKey>
        INSERT INTO ticketing
        (tId, taId, tIdentitycard, tIccard, tQrcard, tSeatingarea,
        tRownumber, tSeat, tGrandstand, tRealname, tNote,phone)
        VALUES (#{tsId}, #{tsVaId}, #{tsIdentiycard}, #{tsIccard}, #{tsQrcard},
        #{tsSeatingArea}, #{tsRownumber}, #{tsSeat}, #{tsGrandstand}, #{tsRealName}, #{tsNote}, #{phone})
    </insert>
    <insert id="installwtid">

        INSERT INTO ticketing_wechat
        (tId, taId, tIdentitycard, tQrcard, tRealname, tNote,tData)
        VALUES (#{tid}, #{aid}, #{cardId}, #{scanCode}, #{Rname},"1", #{datei} )
    </insert>

    <insert id="installwtidexhibition">

        INSERT INTO ticketing
            (tId, taId, tIdentitycard, tRealname, phone,tNote,tData)
        VALUES (#{tid}, #{aid}, #{cardId},  #{Rname}, #{Phone},"1", #{datei} )
    </insert>
    <insert id="installEntryrecord">

        INSERT INTO enter
        (eId,aId,vName,eName,tId,aName,eDate,temp,dWorker,tQrcard,tIdentitycard,autonym,fImage)
        VALUES (#{eId}, #{aId}, #{vName}, #{eName}, #{tId},
        #{aName}, #{eDate}, #{temp}, #{dWorker}, #{tQrcard}, #{tIdentitycard}, #{autonym}, #{fImage})
    </insert>

    <insert id="installemploy">

        INSERT INTO enter_employee
        (eId,aId,vName,eName,tId,aName,eDate,tQrcard)
        VALUES (#{eId}, #{aId}, #{vName}, #{eName}, #{tId},
                #{aName}, #{eDate}, #{tQrcard})
    </insert>

    <insert id="installcamera">

        INSERT INTO tloe
        (teId,teImage,teDate,teAisle,teaId,teCategory,teMarking,teuid)
        VALUES (null, #{teImage}, #{teDate}, #{teAisle}, #{teaId},
                #{teCategory}, #{teMarking},#{teId})
    </insert>

    <!--parameterType 传入参数的类型，resultType返回参数的类型-->
    <select id="selectByKeys" resultType="java.util.Map">
        SELECT t.tId, a.aId,a.aName, t.tIdentitycard, t.tIccard, t.tQrcard, t.tSeatingarea,t.tRownumber, t.tSeat,
        t.tGrandstand, t.tRealname, t.tNote,t.phone
        /*--引用其他sql片段*/
        <include refid="searchSQL"/>
        LIMIT ${(current-1)*size},${size}
    </select>

    <select id="getenueing" resultType="java.util.Map">
        SELECT e.tIdentitycard as tIdentitycard, e.tQrcard as tQrcard,e.autonym as tRealname, e.fImage as fImage, e.eDate as Date,t.tSeatingarea as tSeatingarea ,t.tRownumber as tRownumber, t.tSeat as tSeat
        FROM  enter AS e
        LEFT JOIN ticketing AS t ON t.tId = e.tId
        WHERE aId=#{aId}
            AND e.tIdentitycard=#{cardId}
            OR e.tQrcard =#{scanCode}
        LIMIT 50
    </select>

    <select id="getticketing" resultType="java.util.Map">
        SELECT  t.tIdentitycard as tIdentitycard,  t.tQrcard as tQrcard,t.tRealname as tRealname ,t.tSeatingarea,t.tRownumber, t.tSeat
        FROM ticketing AS t
        WHERE taId=#{aId}
            <if test="cardId != null and cardId.length != 0">
                AND t.tIdentitycard=#{cardId}
            </if>
            <if test="scanCode != null and scanCode.length != 0">
                AND t.tQrcard =#{scanCode}
            </if>
        LIMIT 50
    </select>

    <select id="getByapplet" resultType="java.util.Map">
        select tId,tIdentitycard,tRealname from ticketing
        WHERE taId = #{aId,jdbcType=VARCHAR}
        AND  not locate(#{ips},tNote)>0
        order by tData
        desc limit 27
    </select>


    <update id="getByappletlisteid" >
        UPDATE ticketing  SET tNote =  CONCAT(tNote,#{ips})
        WHERE taId=#{aId}
        AND tId in
        <foreach item="item" collection="UploadQuantity" separator="," open="(" close=")" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </update>

    <select id="getByBuys" resultType="java.util.Map">
        SELECT t.tId, a.aId,a.aName, t.tIdentitycard, t.tIccard, t.tQrcard, t.tSeatingarea,t.tRownumber, t.tSeat,
        t.tGrandstand, t.tRealname, t.tNote,t.phone
        /*--引用其他sql片段*/
        FROM ticketing AS t
        LEFT JOIN activity AS a ON t.taId = a.aId
        WHERE t.taId=#{value}
        <if test="telephone != null and telephone.length != 0">
            AND t.phone= #{telephone}
        </if>
        <if test="tQrcard != null and tQrcard.length != 0">
            AND  t.tQrcard =#{tQrcard}
        </if>
    </select>

    <select id="selectCountByKeys" resultType="java.lang.Integer">
        SELECT COUNT(t.tId)
        <include refid="searchSQL"/>
    </select>
    <select id="selectDataByVaId" resultType="java.lang.Integer">

    </select>

    <select id="selectCountByscanCode" resultType="java.util.Map">
        SELECT t.tId,t.tIdentitycard FROM ticketing AS t where t.tQrcard =#{scanCode} and t.taId=#{aId}
    </select>
    <select id="selectCountByscanCode1" resultType="java.util.Map">
        SELECT w.tId as wtid,w.tIdentitycard as wtIdentitycard
        FROM  ticketing_wechat AS w
        where  w.tQrcard =#{scanCode}
          and w.taId=#{aId}
    </select>

    <select id="getcardId" resultType="java.util.Map">
        SELECT t.tId FROM ticketing AS t where t.tIdentitycard =#{cardId} and t.taId=#{aId} and t.tId!=#{tId} LIMIT 1
    </select>

    <select id="getcardId2" resultType="java.util.Map">
        SELECT w.tId as wtid FROM ticketing_wechat  AS w where w.tIdentitycard =#{cardId} and w.taId=#{aId} and w.tId!=#{tId} LIMIT 1
    </select>

    <select id="getcardIdto" resultType="java.util.Map">
        SELECT t.tId FROM ticketing AS t where t.tIdentitycard =#{cardId} and t.taId=#{aId} LIMIT 1
    </select>

    <select id="getcardId2to" resultType="java.util.Map">
        SELECT w.tId as wtid FROM ticketing_wechat  AS w where w.tIdentitycard =#{cardId} and w.taId=#{aId} LIMIT 1
    </select>


    <select id="selectById" resultType="java.util.Map">
        SELECT t.tId, t.tIdentitycard, t.tRealname, t.phone, t.tQrcard, a.aName, a.aNote
        FROM ticketing t
        LEFT JOIN activity a On a.aId = t.taId
        WHERE tWId= #{id}
    </select>

    <update id="update">
        UPDATE ticketing SET taId = #{tsVaId},tIdentitycard=#{tsIdentiycard},tIccard=#{tsIccard},
         tQrcard=#{tsQrcard}, tSeatingarea=#{tsSeatingArea},tRownumber=#{tsRownumber}, tSeat=#{tsSeat},
          tGrandstand=#{tsGrandstand} ,tRealname= #{tsRealName}, tNote=#{tsNote},phone=#{phone}
          WHERE tId = #{tsId} LIMIT 1
    </update>

    <select id="getByKeycardIds" resultType="java.lang.Integer">

        SELECT COUNT(tIdentitycard)
        FROM ticketing
        WHERE taId=#{aId}
          AND tIdentitycard=#{cardId}
    </select>

    <update id="updates">
        UPDATE ticketing SET tIdentitycard=#{cardId},tRealname= #{Rname},tData=#{datei},tNote=1
        WHERE tId = #{tid} LIMIT 1
    </update>
    <update id="updatewe">
        UPDATE ticketing_wechat SET tIdentitycard=#{cardId},tRealname= #{Rname},tData=#{datei},tNote=1
        WHERE tId = #{wtid} LIMIT 1
    </update>



    <delete id="deleteTs">
       DELETE ticketing,face FROM ticketing LEFT JOIN face ON ticketing.tId=face.ftId WHERE ticketing.tId = #{tid}
    </delete>

    <sql id="searchSQL">
        FROM ticketing AS t
        LEFT JOIN activity AS a ON t.taId = a.aId
        /*LEFT JOIN venues AS v ON t.tvId = v.vId
        LEFT JOIN entrance AS e ON t.teId = e.eId*/
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="tsVaName != null and tsVaName.length != 0">
                AND a.aName LIKE "%"#{tsVaName}"%"
            </if>
            <!--<if test="tsVmName != null and tsVmName.length != 0">
                AND v.vName LIKE "%"#{tsVmName}"%"
            </if>
            <if test="tsEmName != null and tsEmName.length != 0">
                AND e.eName LIKE "%"#{tsEmName}"%"
            </if>-->
            <if test="tsIdentiycard != null and tsIdentiycard.length != 0">
                AND t.tIdentitycard LIKE "%"#{tsIdentiycard}"%"
            </if>
            <if test="tsQrcard != null and tsQrcard.length != 0">
                AND t.tQrcard LIKE "%"#{tsQrcard}"%"
            </if>
            <if test="tsIccard != null and tsIccard.length != 0">
                AND t.tIccard LIKE "%"#{tsIccard}"%"
            </if>
            <if test="tsSeatingArea != null and tsSeatingArea.length != 0">
                AND t.tSeatingarea LIKE "%"#{tsSeatingArea}"%"
            </if>
            <if test="tsRownumber != null and tsRownumber.length != 0">
                AND t.tRownumber LIKE "%"#{tsRownumber}"%"
            </if>
            <if test="tsSeat != null and tsSeat.length != 0">
                AND t.tSeat LIKE "%"#{tsSeat}"%"
            </if>
            <if test="tsRealName != null and tsRealName.length != 0">
                AND t.tRealname LIKE "%"#{tsRealName}"%"
            </if>
        </trim>
    </sql>
</mapper>
